<!-- COMPLETE PAGE -->
<div class="container">

    <!-- TITLE -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

      <div class="titleContainer">
        <span class="title"> Create collection </span>
      </div>

    </div>

    <!-- CONTENT -->
    <mat-card class="content">

      <!-- INFORMATION -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

        <!-- LEFT SIDE PANEL -->
        <div fxFlex="40%">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

            <div fxFlex="20%">
              <span> Alias name: </span>
            </div>

            <div fxFlex="20%">
                <form class="inputStd">
                    <mat-form-field>
                      <input matInput value="Jane Doe">
                    </mat-form-field>
                  </form>
            </div>

          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

            <div fxFlex="20%">
              <span> Collection name: </span>
            </div>

            <div fxFlex="20%">
                <form class="inputStd">
                    <mat-form-field>
                      <input matInput value="developer ggg">
                    </mat-form-field>
                  </form>
            </div>

          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

            <div fxFlex="20%">
              <span> Seeds: </span>
            </div>

            <div fxFlex="20%">
                <form class="inputStd">
                    <mat-form-field>
                      <input matInput value="a b c d e">
                    </mat-form-field>
                  </form>
            </div>

          </div>

        </div>


        <!-- RIGHT SIDE PANEL -->
        <div fxFlex="40%">

          <span> Lorem ipsum dadkjh lknk nkl mjkbn klnkjbn jkn </span>

        </div>

      </div>


      <!-- BUTTON -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

          <div fxFlex="20%">
            <button  class="btn" mat-raised-button color="accent"> Continue </button>
          </div>

      </div>

    </mat-card>

  </div>
