<!-- COMPLETE PAGE -->
<div class="container">

    <!-- TITLE -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

      <div class="titleContainer">
        <span class="title"> Collections </span>
      </div>

    </div>

    <!-- CONTENT -->
    <mat-card class="content">

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

        <!-- ACCOUNT INFORMATION -->
        <div fxFlex="50%" class="contentSpacing">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="75%">
              <span class="disclaimer">
                Public key: 0x10938029822980983
              </span>
              <br><br>
              <span class="disclaimer">
                Private key: 0x10938029822980984
               </span>
            </div>
          </div>
        </div>

      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="start">

        <!-- COLLECTIONS INDEX -->
        <div fxFlex="10%">
        </div>
        <div fxFlex="100%" class="contentSpacing">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="start">
            <div fxFlex="75%">
              <span class="collectionTitle">
                Developer Collection
                </span> <br><br>
            </div>
          </div>
        </div>

      </div>



      <!-- BUTTON -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="start">

        <div fxFlex="8%">
        </div>
        <div fxFlex="30%">
          <button mat-flat-button color="accent" class="formButton"> Create Collection</button>
        </div>

      </div>

    </mat-card>

  </div>
