<!-- COMPLETE PAGE -->
<div class="container">

    <!-- TITLE -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

      <div class="titleContainer">
        <span class="title"> Log In </span>
      </div>

    </div>

    <!-- CONTENT -->
    <mat-card class="content">

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

        <!-- FORM PANEL -->
        <div fxFlex="50%" class="contentSpacing">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="65%">
                <form class="form">
                  <mat-form-field color="accent" class="input-full-width">
                    <input matInput placeholder="Seed Phrase" [(ngModel)]="seedPhrase" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </form>
            </div>
          </div>

        </div>

        <!-- DISCLAIMER PANEL -->
        <div fxFlex="50%" class="contentSpacing">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="75%">
              <span class="disclaimer">
                 To access your ETH account, please enter the seed phrase you saved while creating your account.
                <br>
                We will not save this private information anywhere. We strongly believe our information should be yours and only yours.
              </span>
            </div>
          </div>
        </div>

      </div>

      <!-- BUTTON -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

        <div fxFlex="30%">
          <button mat-flat-button color="accent" class="formButton" (click)="login()"> Continue </button>
        </div>

      </div>

    </mat-card>

  </div>
