<!-- COMPLETE PAGE -->
<div class="container">

    <!-- SEARCH BAR -->
    <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

      <div fxFlex="30%">
        <mat-form-field class="search-form">
          <input matInput placeholder="Search collection" type="text">
        </mat-form-field>
        <button button="submit" mat-raised-button color="accent">Search</button>
      </div>

      <div fxFlex="30%">
        <button button="submit" mat-stroked-button color="accent">Log Out</button>
      </div>

    </div> -->

    <!-- TITLE -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

      <div class="titleContainer">
        <span class="title"> Collection </span>
      </div>

    </div>

    <!-- CONTENT -->
    <mat-card class="content">

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

        <!-- DISCLAIMER PANEL -->
        <div fxFlex="50%" class="contentSpacing">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="75%">
              <span class="disclaimer">
                Collection Alias: Jane Doe
              </span>
              <br><br>
              <span class="disclaimer">
                Contract Address: 0x29329009
              </span>
            </div>
          </div>
        </div>

      </div>


      <!-- TIMELINE -->

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

        <div fxFlex="10%" class="checkpoint">
          <span> Month 2018 </span>
        </div>

        <div fxFlex="70%">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="qiTitle">
                Qi Title
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p> key: value </p>
            <p> key: value </p>
            <p> key: value </p>
            <p> key: value </p>

          </mat-expansion-panel>

        </div>

      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

          <div fxFlex="10%" class="checkpoint">
            <span> Month 2018 </span>
          </div>

          <div fxFlex="70%">

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="qiTitle">
                  Qi Title
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p> key: value </p>
              <p> key: value </p>
              <p> key: value </p>
              <p> key: value </p>

            </mat-expansion-panel>

          </div>

        </div>

      <br>

    </mat-card>

  </div>
