<!-- COMPLETE PAGE -->
<div class="container">

    <!-- SEARCH BAR -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

      <div fxFlex="30%">
        <mat-form-field class="search-form">
          <input matInput placeholder="Search collection" type="text">
        </mat-form-field>
        <button button="submit" mat-raised-button color="accent">Search</button>
      </div>

      <div fxFlex="30%">
        <button button="submit" mat-stroked-button color="accent">Log Out</button>
      </div>

    </div>


    <!-- CONTENT -->
    <mat-card class="content">

      <!-- INFORMATION -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

        <!-- LEFT SIDE PANEL -->
        <div fxFlex="30%">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

            <span> [Foto acá] </span>

          </div>

        </div>

         <!-- CENTER PANEL -->
         <div fxFlex="30%">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

            <span> Jane Doe </span>

          </div>

        </div>

        <!-- RIGHT SIDE PANEL -->
        <div fxFlex="30%">

          <button button="submit" mat-raised-button color="accent">Create Qi</button>

        </div>

      </div>

      <br><br><br>

      <!-- TIMELINE -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

          <div fxFlex="10%">
            <span> Junio 2018 | </span>
          </div>

          <div fxFlex="70%">

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  B.S. in Computer Science
                </mat-panel-title>
                <!-- <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description> -->
              </mat-expansion-panel-header>

              <p> atr1: algo1 </p>
              <p> atr2: algo2 </p>
              <p> atr3: algo3 </p>
              <p> atr4: algo4 </p>

            </mat-expansion-panel>

          </div>

      </div>

      <br>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

          <div fxFlex="10%">
            <span> Octubre 2015 | </span>
          </div>

          <div fxFlex="70%">

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Bachillerato Ciencias y letras Capouilliez
                </mat-panel-title>
                <!-- <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description> -->
              </mat-expansion-panel-header>

              <p> atr1: algo1 </p>
              <p> atr2: algo2 </p>
              <p> atr3: algo3 </p>
              <p> atr4: algo4 </p>

            </mat-expansion-panel>

          </div>

      </div>


    </mat-card>

  </div>
