<div class="upperArea">

  <div class="containerr" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end">

    <div fxFlex="12%">
      <button class="btn" mat-button color="accent" (click)="navigate('login')"> Log In </button>
    </div>

    <div fxFlex="12%">
      <button class="btn" mat-stroked-button color="accent" (click)="navigate('register')"> Register </button>
    </div>

  </div>

  <div class="container2" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

    <div fxFlex="25%">
      <img class="logo" src="../assets/img/logo.png">
    </div>

    <div fxFlex="25%" class="slogan">
      <span > Academic Registry, <br> redefined. </span>
    </div>

  </div>

</div>


<div class="featureArea" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">

  <div fxFlex="35%">
    <span class="aidLetter"> A </span>
  </div>

  <div fxFlex="35%" class="featureDescription">
    <span>

      Anonymous. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.

    </span>
  </div>

</div>

<div class="featureArea" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">

  <div fxFlex="35%" class="featureDescription">
    <span>

      Immutable. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.

    </span>
  </div>

  <div fxFlex="35%">
      <span class="aidLetter"> I </span>
    </div>

</div>

<div class="featureArea" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">

  <div fxFlex="35%">
    <span class="aidLetter"> D </span>
  </div>

  <div fxFlex="35%" class="featureDescription">
    <span >

      Decentralized. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.

    </span>
  </div>

</div>
