<div class="upperArea">

  <div class="containerr" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end">

    <div fxFlex="12%">
      <button  routerLink="/login" class="btn" mat-button color="accent"> Log In </button>
    </div>

    <div fxFlex="12%">
      <!-- <a routerLink="/register"> Registerrrrr </a> -->
      <button routerLink="/register" class="btn" mat-stroked-button color="accent"> Register </button>
    </div>

  </div>

  <div class="container2" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

    <div fxFlex="25%">
      <img class="logo" src="../assets/img/logo.png">
    </div>

    <div fxFlex="25%" class="slogan">
      <span > Academic Registry, <br> redefined. </span>
    </div>

  </div>

</div>


<div class="featureArea" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">

  <div fxFlex="35%">
    <img class="featureImg" src="../assets/img/default.jpg">
  </div>

  <div fxFlex="35%" class="featureDescription">
    <span>

      Anonymous. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.

    </span>
  </div>

</div>

<div class="featureArea" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">

  <div fxFlex="35%" class="featureDescription">
    <span>

      Immutable. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.

    </span>
  </div>

  <div fxFlex="35%">
      <img class="featureImg" src="../assets/img/default.jpg">
    </div>

</div>

<div class="featureArea" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">

  <div fxFlex="35%">
    <img class="featureImg" src="../assets/img/default.jpg">
  </div>

  <div fxFlex="35%" class="featureDescription">
    <span >

      Decentralized. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.

    </span>
  </div>

</div>

<!-- <mat-toolbar
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div> -->

<!-- <mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text">
</mat-form-field>
<button button="submit" mat-raised-button color="accent">Search</button>
<br> -->
<!--
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let picture of pictures">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{picture.title}}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="picture.img">
  </mat-card>
</div> -->
