<!-- COMPLETE PAGE -->
<div class="container">

    <!-- TITLE -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

      <div class="titleContainer">
        <span class="title"> Create Collection </span>
      </div>

    </div>

    <!-- CONTENT -->
    <mat-card class="content">

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

        <!-- FORM PANEL -->
        <div fxFlex="50%" class="contentSpacing">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="65%">
                <form class="form">
                  <mat-form-field color="accent" class="input-full-width">
                    <input matInput placeholder="Collection Alias" [(ngModel)]="colAlias" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </form>
            </div>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="65%">
                <form class="form">
                  <mat-form-field color="accent" class="input-full-width">
                    <input matInput placeholder="Collection Name" [(ngModel)]="colTitle" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </form>
            </div>
          </div>

        </div>

        <!-- DISCLAIMER PANEL -->
        <div fxFlex="50%" class="contentSpacing">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="75%">
              <span class="disclaimer">
                When you click deploy, you will be creating a contract (address: 0x....).
                <br>
                The transaction fee will be around x.x ETH. By clicking, you will be spending a part of your assets.
                <br>
                How do you want to organize your merits? Based on their field, on a nickname or alter ego, on an organization or subgroup... you choose.
              </span>
            </div>
          </div>
        </div>

      </div>

      <!-- BUTTON -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

        <div fxFlex="30%">
          <button mat-flat-button color="accent" class="formButton" (click)="create()"> Deploy </button>
        </div>

      </div>

    </mat-card>

  </div>
