@import '~@angular/material/theming';

@include mat-core();

$app-theme-primary: mat-palette($mat-deep-purple, A400, A200, A700);
$app-theme-accent:  mat-palette($mat-teal, A200, A100, A400);
$app-theme-warn:    mat-palette($mat-red);

$app-theme: mat-dark-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);

@include angular-material-theme($app-theme);
