/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0 0 0 0px;
  padding: 0 0 0 0px;
}

/* CORE UI */
.container {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color:#15202B;
}

.titleContainer {
  margin-left: 8%;
  margin-top: 8%;
}

.title {
  font-size: 24px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.35);
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: white;
}

.input-full-width {
  width: 100%;
}

.contentSpacing{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify
}

.formButton {
  width: 100%;
}

.disclaimer{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  /* color: #555; */
  color: white;
  white-space: normal;
}

.content {
  background-color:#15202B;
  border: solid 2px;
  border-color: #6CFEDA;
  width: 80%;
  margin-top: 1%;
  margin-left: 8%;
  margin-right: 8%;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); */
}

.matInput.mat-input-element {
  color: red;
}
.mat-input-element:disabled {
  color: white;
}
