<!-- COMPLETE PAGE -->
<div class="container">

    <!-- TITLE -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

      <div class="titleContainer">
        <span class="title"> Create Qi </span>
      </div>

    </div>

    <!-- CONTENT -->
    <mat-card class="content">

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

        <!-- FORM PANEL -->
        <div fxFlex="50%" class="contentSpacing">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="65%">
                <form class="form">
                  <mat-form-field color="accent" class="input-full-width">
                    <input matInput placeholder="Qi Title" value="Nukunem Hackaton">
                  </mat-form-field>
                </form>
            </div>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="65%">
                <form class="form">
                  <mat-form-field color="accent" class="input-full-width">
                    <input matInput placeholder="Qi Information" value="{key: pair, key: pair}">
                  </mat-form-field>
                </form>
            </div>
          </div>

        </div>

        <!-- DISCLAIMER PANEL -->
        <div fxFlex="50%" class="contentSpacing">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
            <div fxFlex="75%">
              <span class="disclaimer">
                 Disclaimer...
              </span>
            </div>
          </div>
        </div>

      </div>

      <!-- BUTTON -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

        <div fxFlex="30%">
          <button mat-flat-button color="accent" class="formButton"> Deploy </button>
        </div>

      </div>

    </mat-card>

  </div>
