<!-- COMPLETE PAGE -->
<div class="container">

  <!-- TITLE -->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

    <div class="titleContainer">
      <span class="title"> Create Account </span>
    </div>

  </div>

  <!-- CONTENT -->
  <mat-card class="content">

    <!-- INFORMATION -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

      <!-- LEFT SIDE PANEL -->
      <div fxFlex="40%">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

          <div fxFlex="20%">
            <span> Public key: </span>
          </div>

          <div fxFlex="20%">
              <form class="inputStd">
                  <mat-form-field>
                    <input matInput value="0x00000000000000000001">
                  </mat-form-field>
                </form>
          </div>

        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

          <div fxFlex="20%">
            <span> Seed phrase: </span>
          </div>

          <div fxFlex="20%">
              <form class="inputStd">
                  <mat-form-field>
                    <input matInput value="unas palabras bien vergas que estan culeras y no sirven">
                  </mat-form-field>
                </form>
          </div>

        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

          <div fxFlex="20%">
            <span> Private key: </span>
          </div>

          <div fxFlex="20%">
              <form class="inputStd">
                  <mat-form-field>
                    <input matInput value="0x00000000000000000001">
                  </mat-form-field>
                </form>
          </div>

        </div>

      </div>


      <!-- RIGHT SIDE PANEL -->
      <div fxFlex="40%">

        <span> Lorem ipsum dadkjh lknk nkl mjkbn klnkjbn jkn </span>

      </div>

    </div>


    <!-- BUTTON -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

        <div fxFlex="20%">
          <button  class="btn" mat-raised-button color="accent"> Register </button>
        </div>

    </div>


  </mat-card>

</div>
