<!-- COMPLETE PAGE -->
<div class="container">

  <!-- TITLE -->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

    <div class="titleContainer">
      <span class="title"> Create Account </span>
    </div>

  </div>

  <!-- CONTENT -->
  <mat-card class="content">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

      <!-- FORM PANEL -->
      <div fxFlex="50%" class="contentSpacing">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
          <div fxFlex="65%">
              <form class="form">
                <mat-form-field color="accent" class="input-full-width">
                  <input matInput placeholder="ETH Public Key (address)" value="0x1289130809098098">
                </mat-form-field>
              </form>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
          <div fxFlex="65%">
              <form class="form">
                <mat-form-field color="accent" class="input-full-width">
                  <input matInput placeholder="Seed Phrase" value="a b c d e f g h i j">
                </mat-form-field>
              </form>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
          <div fxFlex="65%">
              <form class="form">
                <mat-form-field color="accent" class="input-full-width">
                  <input matInput placeholder="ETH Private Key" value="0x1289130809098098">
                </mat-form-field>
              </form>
          </div>
        </div>

      </div>

      <!-- DISCLAIMER PANEL -->
      <div fxFlex="50%" class="contentSpacing">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
          <div fxFlex="75%">
            <span class="disclaimer">
               Lorem ipsum dadkjh lknk nkl mjkbn klnkjbn jkn ipsum dadkjh lknk nkl mjkbn klnkjbn jknipsum dadkjh lknk nkl mjkbn klnkjbn jknipsum dadkjh lknk nkl mjkbn klnkjbn jkn
            </span>
          </div>
        </div>
      </div>

    </div>

    <!-- BUTTON -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

      <div fxFlex="30%">
        <button mat-flat-button color="accent" class="formButton"> Register</button>
      </div>

    </div>

  </mat-card>

</div>
