<!-- COMPLETE PAGE -->
<div class="container">

  <!-- TITLE -->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">

    <div class="titleContainer">
      <span class="title"> Create Account </span>
    </div>

  </div>

  <!-- CONTENT -->
  <mat-card class="content">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

      <!-- FORM PANEL -->
      <div fxFlex="50%" class="contentSpacing">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
          <div fxFlex="65%">
              <form class="form">
                <mat-form-field color="accent" class="input-full-width">
                  <input matInput placeholder="ETH Public Key (address)" [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </form>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
          <div fxFlex="65%">
              <form class="form">
                <mat-form-field color="accent" class="input-full-width">
                  <input matInput placeholder="Seed Phrase" [(ngModel)]="mnemonic" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </form>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
          <div fxFlex="65%">
              <form class="form">
                <mat-form-field color="accent" class="input-full-width">
                  <input matInput placeholder="ETH Private Key" [(ngModel)]="privateKey" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </form>
          </div>
        </div>

      </div>

      <!-- DISCLAIMER PANEL -->
      <div fxFlex="50%" class="contentSpacing">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">
          <div fxFlex="75%">
            <span class="disclaimer">
              These are your wallet credentials, please save them in a safe place.
              <br>
              If you loose them, you will not be able to recover them again and you will loose all access to your assets.
            </span>
          </div>
        </div>
      </div>

    </div>

    <!-- BUTTON -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center">

      <div fxFlex="30%">
        <button mat-flat-button color="accent" class="formButton" (click)="register()"> Register</button>
      </div>

    </div>

  </mat-card>

</div>
